#reviews #comments {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

#reviews #comments .comment-container {
    background: white;
    padding: 12px 24px;
    border-radius: 25px;
}

#reviews #comments .comment {
    margin-top: 5px;
    word-break: break-word;
    margin-left: 15px;
}

#reviews #comments .created-at {
    color: grey;
    font-size: 14px;
    white-space: nowrap;
}