@using Uniqlo.PL.Areas.Admin.ViewModels.ProductVMs
@model ProductVM

<form asp-action=@(Model.Id == 0 ? "Create" : "Update") enctype="multipart/form-data" class="container" method="POST">
    <h2 class="my-4">@(Model.Id == 0 ? "Add" : "Update") Product</h2>
    <div class="mb-3">
        <label class="form-label" asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="OldPrice"></label>
        <input class="form-control" asp-for="OldPrice" />
        <span class="text-danger" asp-validation-for="OldPrice"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="NewPrice"></label>
        <input class="form-control" asp-for="NewPrice" />
        <span class="text-danger" asp-validation-for="NewPrice"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Thumbnail"></label>
        <input class="form-control-file" asp-for="Thumbnail" />
        <span class="text-danger" asp-validation-for="Thumbnail"></span>
    </div>
    <div class="mb-3">
        <select class="custom-select" asp-for="CategoryId" asp-items="Model.Categories">
            <option hidden selected>Select Category</option>
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>